<% provide(:page, 'about') %>
<% provide(:title, 'About') %>

<div>
	<div class="bigButtonBar">
		<a href="newbie1.html" class="bigButton">1. Nie wiem o co chodzi</a>
		<a href="newbie2.html" class="bigButton">2. Chcę zacząć</a>
		<a href="newbie3.html" class="bigButton">3. Jestem wyjadaczem</a>
	</div>
</div>
