<% provide(:page, 'contact') %>
<% provide(:title, 'Contact') %>

<article id="contact">
	
<div>
	<h2>Visit us:</h2>
	<p class="grayBackground">
		ul. Radziwiłłowska 20/2, Kraków
	</p>
	<h2>Join the conversation:</h2>
	<ul>
		<li>
			<a href="http://groups.google.com/group/hackerspace-krk">Mailing list</a>
			<table>
				<form action="http://groups.google.com/group/hackerspace-krk/boxsubscribe">
					<tr>
						<td style="padding-left: 5px;"> E-mail:
						<input type=text name=email>
						<input type=submit name="sub" value="Join">
						</td>
					</tr>
				</form>
			</table>
		</li>
		<li>
			<a href="http://twitter.com/hackerspace_krk">Twitter</a>
		</li>
		<li>
			<a href="https://plus.google.com/u/0/b/101959593482031620952/101959593482031620952/posts">Google +</a>
		</li>
		<li>
			<a href="http://www.facebook.com/HackerspaceKrakow">Facebook</a>
		</li>
	</ul>
	<h2>Check out what we're doing:</h2>
	<ul>
		<li>
			<a href="http://hackerspace-krk.blogspot.com/">Blog (in Polish)</a>
		</li>
		<li>
			<a href="http://hackerspaces.org/wiki/Hackerspace_Krak%C3%B3w">Wiki</a>
		</li>
		<li>
			<a href="http://www.youtube.com/user/HackerspaceKRK">YouTube</a>
		</li>
		<li>
			<a href="http://www.flickr.com/photos/78164588@N06/">Flickr</a>
		</li>
		<li>
			<a href="http://github.com/HackerspaceKRK">GitHub</a>
		</li>
	</ul>
</div>

<div><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?q=ul.+Radziwi%C5%82%C5%82owska+20,+Krak%C3%B3w&amp;hl=pl&amp;ie=UTF8&amp;sll=50.046766,20.004863&amp;sspn=0.253539,0.617294&amp;hnear=Radziwi%C5%82%C5%82owska+20,+Krak%C3%B3w,+ma%C5%82opolskie&amp;t=m&amp;hq=&amp;ll=50.0632,19.946795&amp;spn=0.019284,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div>

</article>