<% provide(:page, 'events') %>
<% provide(:title, 'Events') %>

<div id="data">
	<!--
	do przeróbki
	-->
	<iframe src="https://www.google.com/calendar/embed?src=hackerspace.krk%40gmail.com&ctz=Europe/Warsaw" width="850" height="500" frameborder="0" scrolling="no"></iframe>
</div>