<% provide(:page, 'projects') %>
<% provide(:title, "Edit " + @hacker.name + " " + @hacker.nickname + " " + @hacker.surname) %>
<h1>Editing hacker</h1>

<%= render 'form' %>

<%= link_to 'Show', @hacker %> |
<%= link_to 'Back', hackers_path %>
