<% provide(:page, 'hackers') %>
<% provide(:title, 'Hackers') %>

<div id="hackers">
	<h1>Listing hackers</h1>
	<%= link_to 'New Hacker', new_hacker_path %>

	</br>
	<% @hackers.each do |hacker| %>
		<div class="grayBackground hackerThumbnail">
			<%= link_to image_tag(hacker.avatar), hacker if hacker.avatar.present? %>
			<h3><%= link_to (hacker.name + ' ' + hacker.surname + ' ' + hacker.nickname), hacker %></h3>
		</div>
	<% end %>
	<div style="clear: both"></div>
</div>
